header {
 position: relative;
 font-family: 'Abril Fatface', cursive;
 margin: auto;
 width: 1000px;;
}

header img {
 backround-repeat: no-repeat;
 width: 100%;
 height: 200px;
 display: inline-block;
 margin: 0 auto;
}

header h1:first-of-type {
 font-size: 25px;
 padding: 0;
 margin: 0;
 position: absolute;
 top: 110px;
 left: 280px;
 color: #222;
}

header h1:last-of-type {
 margin: 0;
 font-size: 45px;
 position: absolute;
 top: 130px;
 left: 280px;
 color: #222;
}

main {
 width: 700px;
 margin: auto;
}

blockquote {
 font-family: ‘Abril Fatface’;
 background-color:#222;
 color: white;
 padding: 40px;
 margin: 0 0 auto;
 position: relative; 
 font-size: 30px;
}

blockquote::before {
  content: '”';
  position: absolute;
  top: 0;
  left: 1px;
  font-size: 100px;
  /* ide jön a stílusa */
}

h2, h3, h4, p{
  font-family: 'Josefin Sans', sans-serif;
}

p {
  padding: 0 50px;
}

ul{
  padding: 0 80px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 40px;
  list-style-type: square;
}

h2 { 
  padding: 20px 50px;
  text-transform: uppercase;
}

h3, h4 {
  padding: 20px 50px; 
}

#line {
  border-top: 3px solid black;
}