header {
  background-color: purple;
  height: 50px;
  display: flex;
}

a {
  display: block;
  background-color: cyan;
  width: 50px;
  height: 30px;
/*   padding: 5px; */
  margin: 10px;
}

.container {
  height: 500px;
  display: flex;
  flex-direction: row;
  align-conent: center;
/*   flex-grow */
}

main {
 height: 500px;
 background-color: yellow;
 flex-grow: 4;
}

aside {
  height: 500px;
  background-color: lime;
  flex-grow: 1;
}