/* Ide gyűjtöttem azokat a magyar Youtube csatornákat, amelyek foglalkoznak webprogramozással. Ettől sokkal több van, keressetek rá bátran.

Csatornák: 
https://www.youtube.com/c/webprogramoz%C3%A1s/videos
https://www.youtube.com/channel/UCs6bOI-3hy2aY2QaE4ZXm0g/videos
https://www.youtube.com/c/Tam%C3%A1sKissVincze/videos
https://www.youtube.com/channel/UC6e2JpGtJfNSiUIUBJmpAYA/videos
https://www.youtube.com/c/jozsefcserko/videos
https://www.youtube.com/user/borostatu/videos
https://www.youtube.com/c/WebuniHu/videos
https://www.youtube.com/channel/UCEg50McDNCDjcNfhTggnK0w/videos
https://www.youtube.com/user/KhanAcademyMagyar/videos


Megjegyzés: Elég sok videót és dokumentációt találtok a témában ha elkezdtek keresni. Javaslom mindenkinek, hogy keressen specifikusan és építkezzetek az alapoktól. Érdemes egy roadmap-et felállítani. A fenti csatornákon több helyen is sorozatszerűen, kimerítő részletességgel végig tudtok venni egy-egy témát. Illetve kaptok egész A-Z jellegű alapozó videókat is - van olyan amelyik több mint 7 órás.

Külön ajánlom a w3c gyakroló oldalát, mert nagyon hasznos. Én itt jegyeztem meg az elején a legtöbb anyagot.

https://www.w3schools.com/html/html_exercises.asp

Jó tanulást!
Levi 

*/